@{
    var currentController = ViewContext.RouteData.Values["Controller"] as string;
}
<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a class="nav-link @(currentController == "Home" ? "active" : "link-dark")" asp-controller="Home" asp-action="Index">
            <i class="bi bi-speedometer2 me-2"></i>
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "Clientes" ? "active" : "link-dark")" asp-controller="Clientes" asp-action="Index">
            <i class="bi bi-people me-2"></i>
            Clientes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "Mascotas" ? "active" : "link-dark")" asp-controller="Mascotas" asp-action="Index">
            <i class="bi bi-github me-2"></i>
            Mascotas
        </a>
    </li>
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link @(currentController == "Usuarios" ? "active" : "link-dark")" asp-controller="Usuarios" asp-action="Index">
                <i class="bi bi-person me-2"></i>
                Usuarios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentController == "Roles" ? "active" : "link-dark")" asp-controller="Roles" asp-action="Index">
                <i class="bi bi-key me-2"></i>
                Roles
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @(currentController == "Consultas" ? "active" : "link-dark")" asp-controller="Consultas" asp-action="Index">
            <i class="bi bi-chat-dots me-2"></i>
            Consultas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "Tratamientos" ? "active" : "link-dark")" asp-controller="Tratamientos" asp-action="Index">
            <i class="bi bi-clipboard-plus me-2"></i>
            Tratamientos
        </a>
    </li>
</ul>

<hr>

@if (TempData.Peek("nombre") != null)
{
    <div class="text-center small">Bienvenido: @TempData.Peek("nombre")</div>
}
else
{
    Context.Response.Redirect(Url.Action("Login", "Home"));
}