@model IEnumerable<sistemaVeterinario.Models.Consulta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoConsultaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMascotaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoConsultaNavigation.IdEstadoConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMascotaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConsulta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdConsulta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdConsulta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
