@model IEnumerable<sistemaVeterinario.Models.Mascota>

@{
    ViewData["Title"] = "Mascotas";
}

<h1>Gestión de Mascotas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Nueva Mascota</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                Dueño (Cliente)
            </th>
            <th>
                Especie
            </th>
            <th>
                Raza
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEspecieNavigation.IdEspecie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRazaNavigation.IdRaza)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.IdMascota" class="btn btn-warning">Editar</a>
                <button class="btn btn-danger" onclick="eliminarMascota(@item.IdMascota)">Eliminar</button>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        const eliminarMascota = async (id) => {
            const { isConfirmed } = await Swal.fire({
                title: '¿Está seguro de eliminar?',
                text: "No podrá revertir esta acción.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, ¡eliminar!',
                cancelButtonText: 'Cancelar'
            });

            if (isConfirmed) {
                const response = await fetch(`@Url.Action("Delete", "Mascotas")/${id}`);
                const result = await response.json();

                if (result === 'ok') {
                    await Swal.fire(
                        '¡Eliminada!',
                        'La mascota ha sido eliminada.',
                        'success'
                    );
                    location.reload();
                } else {
                    await Swal.fire(
                        'Error',
                        'Ocurrió un error al eliminar la mascota.',
                        'error'
                    );
                }
            }
        }
    </script>
}
