@model IEnumerable<sistemaVeterinario.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Gestión de Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Usuario</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                Estado
            </th>
            <th>
                Rol
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoUsuarioNavigation.NombreEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.NombreRol)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-warning">Editar</a>
                <button class="btn btn-danger" onclick="eliminarUsuario(@item.IdUsuario)">Eliminar</button>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        const eliminarUsuario = async (id) => {
            const { isConfirmed } = await Swal.fire({
                title: '¿Está seguro de eliminar?',
                text: "No podrá revertir esta acción.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#33085d6',
                confirmButtonText: 'Sí, ¡eliminar!',
                cancelButtonText: 'Cancelar'
            });

            if (isConfirmed) {
                const response = await fetch(`@Url.Action("Delete", "Usuarios")/${id}`);
                const result = await response.json();

                if (result === 'ok') {
                    await Swal.fire(
                        '¡Eliminado!',
                        'El usuario ha sido eliminado.',
                        'success'
                    );
                    location.reload();
                } else {
                    await Swal.fire(
                        'Error',
                        'Ocurrió un error al eliminar el usuario.',
                        'error'
                    );
                }
            }
        }
    </script>
}
